<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chaquo.python.console">

    <application
        android:name="com.chaquo.python.android.PyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.chaquo.python.utils.FriendslistActivity" />
        <activity android:name="com.chaquo.python.utils.AccountActivity" />
        <activity android:name="com.chaquo.python.utils.RecyclerFeedActivity" />
        <activity android:name="com.chaquo.python.utils.BacNetActivity" />
        <activity android:name="com.chaquo.python.utils.FeedTabActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>